test.ipynb
.env

# pycache files
__pycache__/
# server files
# Ignore Python cache files
server/__pycache__/
server/*.pyc

# Ignore specific Jupyter notebooks and logs
server/*.ipynb
server/test_visual.py
