test.ipynb

# pycache files
__pycache__/
# server files
server/__pycache__/
*.pyc
server/step_chain.ipynb
server/step_chain copy.ipynb
server/test_visual.ipynb
server/test.ipynb
server/top5.ipynb
server/lightrag.log
